<footer class="footer">
<small>
Module built by: Sharanya Kamath and Palak Singhal
</small>
<nav>
<ul>
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Contact", '#' %></li>
</ul>
</nav>
</footer>
