<div class="center jumbotron">
<h1>Resolving Complaints Made Easy</h1>
<h2>
Post your complaints and the admins will resolve it ASAP!
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
